[submodule "Pages/BudgetBuddy"]
  path = Pages/BudgetBuddy
  url = <repository-url>

[submodule "Pages/Julie22years"]
  path = Pages/Julie22years
  url = <repository-url-for-Julie22years>

[submodule "Pages/Vilde22years"]
  path = Pages/Vilde22years
  url = <repository-url-for-Vilde22years>