/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Use a unique and descriptive class name for Fredoka font */
.fredoka-unique {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; 
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body {
    font-family: 'Fredoka', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #AEDFF2;
    color: #03588C;
}

header, footer {
    background-color: #03588C;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
}

h1, h2 {
    font-family: 'Fredoka', sans-serif;
    color: #ffffff;
}

p {
    margin: 1em 0;
    color: #000000;
}

/* Update link styles for better visibility */
a {
    color: #df2bac; /* A vibrant blue for better visibility */
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    color: #bc118c; /* Darker blue on hover */
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}



/* Back button styling */
.back-button {
    cursor: pointer;
    position: absolute;
    top: 40px; /* Avstand fra toppen */
    left: 40px; /* Avstand fra venstre */
    height: 60px;
    width: 50px;
    transition: transform 0.1s;
}

.back-button .arrow-top,
.back-button .arrow-bottom {
    background-color: #ffffff; /* Fits better here to start with white color */
    height: 10px; 
    position: absolute;
    top: 50%;
    width: 100%;
}

.back-button .arrow-top {
    transform: rotate(-45deg); /* Left-arrow pil */
    transform-origin: bottom left;
    transition-delay: 0.2s; 
}

.back-button .arrow-bottom {
    transform: rotate(45deg); 
    top: 43%; 
    transform-origin: top left;
    transition-delay: 0s; 
}

.back-button .arrow-top:after,
.back-button .arrow-bottom:after {
    content: "";
    background-color: #333; /* gets dark when you hover*/
    height: 100%;
    position: absolute;
    top: 0;
    transition: all 0.15s ease; 
}

.back-button .arrow-top:after {
    right: 100%;
    left: 0;
}

.back-button .arrow-bottom:after {
    left: 100%;
    right: 0;
    transition-delay: 0.1s; 
}

.back-button:hover .arrow-top:after {
    right: 0;
}

.back-button:hover .arrow-bottom:after {
    left: 0;
    transition-delay: 0s;
}

.back-button:active {
    transform: scale(0.9);
}
